html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #eeeeee;
  color: #000000;
}

h1 {
  height: 10%;
  text-align: center;
  max-height: 10%;
  margin: 0;
  padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

#dmap {
    position: relative;
    width: 90%;
    height: 88%;
    margin: 0 auto 0 auto;
    box-shadow: 3px 3px 10px #434343;
}

#dmap_container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: move;
}

#map_gfx {
    position: relative;
    display: block;
    background-size: cover;
}

.map_tile {
    position:absolute;
    display:block;
    cursor: help;
}

.map_tile .positions{
    font-family: 'RobotoDraft',sans-serif;
    font-size: 10px;
    color: white;
    text-align: left;
    font-weight: bold;
}

.map_tile:hover .map_tile_tooltip {
    display: block;
    padding: 5px;
}

.map_tile_tooltip {
    display: none;
    width: 200px;
    background-color: #424242;
    border: 2px solid #212121;
    left: 50px;
    position: absolute;
    z-index: 99;
}

.map_tile_title {
    color: white;
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid white;
}

.map_tile_infos {
    color: white;
}

#menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 200px;
    margin: 0;
    padding: 0;
    overflow-y: auto;
    font-family: 'RobotoDraft',sans-serif;
    color: #333333;
    background-color: #FAFAFA;
    box-shadow: 2px 2px 10px #424242;
    font-weight: bold;
    font-size: 13px;
    z-index: 4;
}

@-webkit-keyframes openMenu {
    from { opacity: 0; width: 0;}
    10%  { opacity: 1; width: 10px;}
    to   { opacity: 1; width: 200px;}
}

@keyframes openMenu {
    from { opacity: 0; width: 0;}
    10%  { opacity: 1; width: 10px;}
    to   { opacity: 1; width: 200px;}
}

.displayMenu {
    display: block;
    -webkit-animation: openMenu 1s ease-in-out;
    animation: openMenu 1s ease-in-out;
}

.hideMenu {
    display: none;
}

.verified {
    width:20px;
    height: 20px;
    /*
    vertical-align: -5px;
    display: inline-block;
    background-image: url("../static/img/Arrow-left.svg");
    background-repeat: no-repeat;*/
}

.unverified {
    width:25px;
    height: 10px;
    display: inline-block;
}

.hide {
    width:20px;
    height: 20px;
}

.qte {
    color: #7777FF;
    font-weight: bold;
}

#menuContent {
    position: relative;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

#menuButtonClose {
    position: absolute;
    width: 25px;
    height: 25px;
    right: 0px;
    background-image: url("../static/img/Arrow-left.svg");
    background-color: #DEDEDE;
    box-shadow: 2px 2px 5px #545454;
    cursor: pointer;
}

#menuTitle  {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    margin: 0;
    text-align: center;
    border-bottom: 1px solid #DEDEDE;
    cursor: default;
}

#menuTitle img {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

#nav {
    display: block;
    padding-bottom: 96px;
}

#nav ul {
    display: block;
    padding: 0;
    list-style-type: none;
}

#nav ul li {
    margin-bottom: 20px;
    margin-top: 20px;
    padding-left: 20px;
    cursor: pointer;
}


#nav ul li ul {
    display: none;
}

#nav ul li ul li {
    padding-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: 11px;
}

#menuFooter  {
    position: absolute;
    bottom: 0;
    height: 60px;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
    text-align: left;
    border-top: 1px solid #DEDEDE;
    font-weight: normal;
    cursor: default;
    background-color: #FAFAFA;
    font-size: 11px;
}

#menuButtonOpen {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 30px;
    height: 30px;
    background-size: 100%;
    background-image: url("../static/img/hamburger.svg");
    background-repeat: no-repeat;
    background-color: rgba(24,24,255, 0.2);
    box-shadow: 2px 2px 5px #545454;
    cursor: pointer;
}

#about {
  width: 90%;
  margin: 0 auto;
}

#about h1 {
  text-align: left;
}

#settings {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 200px;
    background-color: rgba(220, 220, 220, 0.7);
    z-index: 100;
    box-shadow: 0px 0px 1px #444444;
    /*display: none;*/
}

#hide_settings {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 100%;
    float: left;
    background-image: url("../static/img/Arrow-right.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px;
    cursor: pointer;
    background-color: rgba(170, 170, 170, 0.7);
}

#settings_content {
    width: 160px;
    padding: 10px;
    padding-left: 30px;
    font-size: 13px;
    font-family: 'RobotoDraft',sans-serif;
}

#settings_waighting {
    height: 5px;
    width: 100px;
    display: inline-block;
    background-image:linear-gradient(to right, rgba(24,24,255,0.3), rgba(24,24,255,1));
}

.clear {
    clear: both;
}

.loader {
    width: 100%;
    text-align: center;
    padding-top: 25%;
    font-style: 24px;
    font-weight: bold;
}

#home {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.home_title {
    width: 100%;
    background-color: yellowgreen;
    color: black;
    font-size: 24px;
    font-family: 'RobotoDraft',sans-serif;
    font-weight: bold;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    box-shadow: 3px 3px 3px #444444;
    margin-top: 10px;
}

.home_title:hover {
    box-shadow: none;
}

.home_tile {
    width: 200px;
    font-size: 20px;
    font-family: 'RobotoDraft',sans-serif;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    box-shadow: 3px 3px 3px #444444;
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.home_tile:hover {
    box-shadow: none;
}

#home .paysan {
    background-color: greenyellow;
    color: green;
}

#home .bucheron {
    background-color: saddlebrown;
    color: black;
}

#homepage ul#maps {
  min-height: 10em;
  list-style-type: none;
  padding: 0 5px;
  text-align: center;
}

#homepage ul#maps li {
  display: inline-block;
}

#homepage a.frame {
  height: 10em;
  width: 11em;
  margin: 0 5px 10px 5px;
  float: left;
  border: thin solid #000000;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-box-shadow: 1px 1px 8px #000000;
  box-shadow: 1px 1px 8px #000000;
  -webkit-box-shadow: 1px 1px 8px #000000;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}

#homepage a.frame:hover {
}

#homepage a.frame .element {
  display: block;
  height: 9em;
  margin-top: 1em;
}

#homepage a.frame .element img {
  margin-top: 0.5em;
  margin-right: auto;
  margin-left: auto;
  border: 0;
}

/* WHITESPACE at category's end */
#homepage .space {
  clear: both;
}

#maj {
  width: 80%;
  margin: 0 auto 3% auto;
  padding: 15px;
  /*background-color: #ffea78;*/
  background-color: #c2c2f1;
  -moz-border-radius: 15px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  font-size: 13px;
}

#maj h1 {
  text-align: left;
}

#maj a {
  text-decoration: underline;
}

#introduction {
  width: 90%;
  margin: 0 auto;
}

#introduction h1 {
  text-align: left;
}

#introduction a {
  color: blue;
  text-decoration: underline;
}

#introduction a:visited {
  color: blue;
}
